@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 216 77% 46;
    --primary-light: 216 100% 81%;
    --primary-foreground: 210 20% 98%;

    --secondary: 24 100% 67%;
    --secondary-foreground: 210 20% 98%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 24 79% 49%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 79% 49%;
    --destructive-foreground: 0 0% 100%;

    --border: 270 14% 97;
    --input: 220 13% 91%;
    --ring: 216 100% 81%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 6% 3%;
    --foreground: 0 0% 98%;

    --card: 213 80% 3%;
    --card-foreground: 0 0% 90%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 216 77% 46;
    --primary-light: 216 100% 81%;
    --primary-foreground: 210 20% 98%;

    --secondary: 24 100% 67%;
    --secondary-foreground: 210 20% 98%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 260 1% 41%;

    --accent: 24 79% 49%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 79% 49%;
    --destructive-foreground: 0 0% 100%;

    --border: 226 39% 10%;
    --input: 0 1% 17%;
    --ring: 206 89% 44%;
  }
}

@layer base {
  /* * {
    @apply border-border;
  } */

  body {
    /* @apply bg-background font-inter text-foreground; */
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    /* background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /></svg>"); */
    background-image: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg'fill='none'viewBox='0 0 24 24'stroke-width='1.5'stroke='currentColor'class='size-6'><path stroke-linecap='round'stroke-linejoin='round'd='m19.5 8.25-7.5 7.5-7.5-7.5'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    /* background-position-y: 5px; */
    padding-right: 2rem;
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"] {
    -webkit-appearance: none; /* IE and Edge */
    -moz-appearance: textfield; /* Firefox */
    margin: 0;
  }
}

/* BACKGROUND */
::-webkit-scrollbar {
  width: 8px;
  /* background: #ecedf0; */
  background: #f5f5f5;
  border-radius: 5px;
  height: 6px;
}

/* SCROLL-THUMB */
::-webkit-scrollbar-thumb {
  width: 8px;
  height: 2px;
  background-color: #bcc2d2;
  border-radius: 3px;
}

.heading-1 {
  font-size: clamp(2rem, 1rem + 3vw, 4rem);
  font-weight: bold;
}

.heading-2 {
  font-size: clamp(1.75rem, 1rem + 3vw, 3rem);
  font-weight: bold;
}

.heading-3 {
  font-size: clamp(1.5rem, 1rem + 3vw, 2rem);
  font-weight: 600;
}

.heading-4 {
  font-size: clamp(1.125rem, 1.125rem + 1vw, 1.5rem);
  font-weight: 500;
}

.heading-5 {
  font-size: clamp(1rem, 1rem + 1vw, 1.125rem);
  font-weight: 500;
}

.paragraph {
  @apply text-sm leading-6 text-foreground/70;
}

/* CODE JOSN SNIPPETS */

.string {
  color: rgb(0, 55, 173);
}
.number {
  color: darkorange;
}
.boolean {
  color: blue;
}
.null {
  color: magenta;
}
.key {
  color: red;
}
/* ************************** */

.blue-gradient {
  background: linear-gradient(90deg, #1b64ce 0%, #8c86f0 100%);
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
